-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: visionai_hrms
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `visionai_hrms`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `visionai_hrms` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `visionai_hrms`;

--
-- Table structure for table `company_details`
--

DROP TABLE IF EXISTS `company_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `designation` varchar(255) NOT NULL,
  `joining_date` date DEFAULT NULL,
  `oryfolks_id` varchar(255) NOT NULL,
  `oryfolks_mail_id` varchar(255) NOT NULL,
  `visionai_id` varchar(255) NOT NULL,
  `visionai_mail_id` varchar(255) NOT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_s56x49aupyj4wpwb12o0ootiq` (`oryfolks_id`),
  UNIQUE KEY `UK_qnjr8yv442hatytid720hwcpi` (`oryfolks_mail_id`),
  UNIQUE KEY `UK_cuj36ns29oqbw0rkwctjasy10` (`employee_id`),
  CONSTRAINT `FKpeyemokm670ymk5692yed4alo` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_details`
--

LOCK TABLES `company_details` WRITE;
/*!40000 ALTER TABLE `company_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_j6cwks7xecs5jov19ro8ge3qk` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'2026-06-08 15:25:43.367572','System Administration','Administration'),(2,'2026-06-08 15:25:43.409340','Information Technology','IT'),(3,'2026-06-08 15:25:43.409340','Human Resources','HR');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_documents`
--

DROP TABLE IF EXISTS `employee_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content_type` varchar(255) DEFAULT NULL,
  `document_name` varchar(255) DEFAULT NULL,
  `document_type` varchar(255) DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `file_url` varchar(255) DEFAULT NULL,
  `uploaded_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK28g0aba9xtbkf6bp9pnvtcw5e` (`employee_id`),
  CONSTRAINT `FK28g0aba9xtbkf6bp9pnvtcw5e` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_documents`
--

LOCK TABLES `employee_documents` WRITE;
/*!40000 ALTER TABLE `employee_documents` DISABLE KEYS */;
INSERT INTO `employee_documents` VALUES (1,'application/pdf','10th Standard','EDU_10TH','employee_6/8d172ef3-2ac5-41fb-b08d-7b700cb129d8.pdf',5100979,'http://localhost:8080/api/uploads/employee_6/8d172ef3-2ac5-41fb-b08d-7b700cb129d8.pdf','2026-06-22 16:13:45.216707',6);
/*!40000 ALTER TABLE `employee_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_education`
--

DROP TABLE IF EXISTS `employee_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_education` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `degree_level` varchar(255) DEFAULT NULL,
  `end_year` int DEFAULT NULL,
  `institution_name` varchar(255) DEFAULT NULL,
  `start_year` int DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKp4wlgwluyoknphmwhgn2o5pks` (`employee_id`),
  CONSTRAINT `FKp4wlgwluyoknphmwhgn2o5pks` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_education`
--

LOCK TABLES `employee_education` WRITE;
/*!40000 ALTER TABLE `employee_education` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_experience`
--

DROP TABLE IF EXISTS `employee_experience`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_experience` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `business_type` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `employer_address` text,
  `employer_name` varchar(255) DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `reporting_manager_email` varchar(255) DEFAULT NULL,
  `reporting_manager_name` varchar(255) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcv1hvbh746mvsnycur9njvrgb` (`employee_id`),
  CONSTRAINT `FKcv1hvbh746mvsnycur9njvrgb` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_experience`
--

LOCK TABLES `employee_experience` WRITE;
/*!40000 ALTER TABLE `employee_experience` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_experience` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_reporting`
--

DROP TABLE IF EXISTS `employee_reporting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_reporting` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `hr_id` bigint DEFAULT NULL,
  `previous_reporting_manager_id` bigint DEFAULT NULL,
  `reporting_manager_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKd06x9kbx34xoem2smct2fyn1e` (`employee_id`),
  KEY `FK8l4ehfdtyirnl4krn5kcuabbc` (`hr_id`),
  KEY `FK6u4anqag15qsx3gkxtf6a9swp` (`previous_reporting_manager_id`),
  KEY `FKq4to4a8cgtmhwss2j7901opg3` (`reporting_manager_id`),
  CONSTRAINT `FK6u4anqag15qsx3gkxtf6a9swp` FOREIGN KEY (`previous_reporting_manager_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FK8l4ehfdtyirnl4krn5kcuabbc` FOREIGN KEY (`hr_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FKd06x9kbx34xoem2smct2fyn1e` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FKq4to4a8cgtmhwss2j7901opg3` FOREIGN KEY (`reporting_manager_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_reporting`
--

LOCK TABLES `employee_reporting` WRITE;
/*!40000 ALTER TABLE `employee_reporting` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_reporting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employees` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `address_proof` varchar(255) DEFAULT NULL,
  `address_proof_number` varchar(255) DEFAULT NULL,
  `alternate_phone` varchar(255) DEFAULT NULL,
  `blood_group` varchar(255) DEFAULT NULL,
  `corporate_email` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `date_of_birth` date NOT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `emergency_address` varchar(255) DEFAULT NULL,
  `emergency_contact_name` varchar(255) DEFAULT NULL,
  `emergency_phone` varchar(255) DEFAULT NULL,
  `emergency_relationship` varchar(255) DEFAULT NULL,
  `employment_type` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `hire_date` date DEFAULT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `marital_status` varchar(255) DEFAULT NULL,
  `middle_name` varchar(255) DEFAULT NULL,
  `passport_no` varchar(255) DEFAULT NULL,
  `permanent_address` text,
  `phone_number` varchar(255) DEFAULT NULL,
  `photo_path` varchar(255) DEFAULT NULL,
  `present_address` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `reporting_manager_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `aadhaar_no` varchar(255) DEFAULT NULL,
  `pan_no` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_j9xgmd0ya5jmus09o0b8pqrpb` (`email`),
  UNIQUE KEY `UK_g6512s2t9cous2oxa17he4irp` (`phone_number`),
  UNIQUE KEY `UK_j2dmgsma6pont6kf7nic9elpd` (`user_id`),
  KEY `FKgy4qe3dnqrm3ktd76sxp7n4c2` (`department_id`),
  KEY `FKj5dawmyfw3dmtixnsrr6cbk63` (`reporting_manager_id`),
  CONSTRAINT `FK69x3vjuy1t5p18a5llb8h2fjx` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKgy4qe3dnqrm3ktd76sxp7n4c2` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKj5dawmyfw3dmtixnsrr6cbk63` FOREIGN KEY (`reporting_manager_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidays`
--

DROP TABLE IF EXISTS `holidays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `holidays` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `holiday_date` varchar(255) DEFAULT NULL,
  `holiday_name` varchar(255) DEFAULT NULL,
  `holiday_type` varchar(255) DEFAULT NULL,
  `year` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidays`
--

LOCK TABLES `holidays` WRITE;
/*!40000 ALTER TABLE `holidays` DISABLE KEYS */;
/*!40000 ALTER TABLE `holidays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_balances`
--

DROP TABLE IF EXISTS `leave_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_balances` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `bereavement_leaves_total` double DEFAULT NULL,
  `bereavement_leaves_used` double DEFAULT NULL,
  `casual_leaves_carried_forward` double DEFAULT NULL,
  `casual_leaves_total` double DEFAULT NULL,
  `casual_leaves_used` double DEFAULT NULL,
  `current_year` int DEFAULT NULL,
  `earned_leaves_carried_forward` double DEFAULT NULL,
  `earned_leaves_total` double DEFAULT NULL,
  `earned_leaves_used` double DEFAULT NULL,
  `last_updated` datetime(6) DEFAULT NULL,
  `maternity_leaves_total` double DEFAULT NULL,
  `maternity_leaves_used` double DEFAULT NULL,
  `paternity_leaves_total` double DEFAULT NULL,
  `paternity_leaves_used` double DEFAULT NULL,
  `sick_leaves_total` double DEFAULT NULL,
  `sick_leaves_used` double DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_64ubjwenkx4iq8xs1itvml68v` (`employee_id`),
  CONSTRAINT `FKmvepkwsegu6bt3ps5rfh1dx92` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_balances`
--

LOCK TABLES `leave_balances` WRITE;
/*!40000 ALTER TABLE `leave_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_details`
--

DROP TABLE IF EXISTS `leave_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `day_type` varchar(255) NOT NULL,
  `leave_date` date NOT NULL,
  `leave_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKel8gn18qayympgldumxvlmbme` (`leave_id`),
  CONSTRAINT `FKel8gn18qayympgldumxvlmbme` FOREIGN KEY (`leave_id`) REFERENCES `leaves` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_details`
--

LOCK TABLES `leave_details` WRITE;
/*!40000 ALTER TABLE `leave_details` DISABLE KEYS */;
INSERT INTO `leave_details` VALUES (1,'FULL','2026-06-18',1),(2,'FULL','2026-06-23',2),(3,'FULL','2026-07-02',3),(4,'FULL','2026-07-03',3),(5,'FULL','2026-07-06',3),(6,'FULL','2026-07-15',4),(7,'FULL','2026-07-16',4),(8,'FULL','2026-07-17',4),(9,'FULL','2026-07-21',4),(10,'FULL','2026-07-16',5),(11,'FULL','2026-07-17',5),(12,'FULL','2026-07-21',5),(13,'FULL','2026-08-04',6),(14,'FULL','2026-08-05',6),(15,'FULL','2026-07-02',7),(16,'MORNING','2026-07-03',7),(17,'FULL','2026-07-08',8);
/*!40000 ALTER TABLE `leave_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leaves`
--

DROP TABLE IF EXISTS `leaves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leaves` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `days_count` double DEFAULT NULL,
  `end_date` date NOT NULL,
  `leave_type` enum('CASUAL','SICK','EARNED','MATERNITY','PATERNITY','BEREAVEMENT','LOP') DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `rejection_reason` varchar(255) DEFAULT NULL,
  `reviewed_at` datetime(6) DEFAULT NULL,
  `session_data` text,
  `start_date` date NOT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT NULL,
  `submitted_at` datetime(6) DEFAULT NULL,
  `approved_by_id` bigint DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `transferred_at` datetime(6) DEFAULT NULL,
  `transferred_from_admin` bit(1) DEFAULT NULL,
  `approval_route` varchar(255) DEFAULT NULL,
  `approval_stage` varchar(255) DEFAULT NULL,
  `hr_disabled_reroute` bit(1) DEFAULT NULL,
  `hr_stage_approved_at` datetime(6) DEFAULT NULL,
  `hr_stage_approved_by_name` varchar(255) DEFAULT NULL,
  `hr_stage_approved_by_role` varchar(255) DEFAULT NULL,
  `rerouted_torm` varchar(255) DEFAULT NULL,
  `skippedhr` bit(1) DEFAULT NULL,
  `skippedhrreason` varchar(255) DEFAULT NULL,
  `skippedrm` bit(1) DEFAULT NULL,
  `skippedrmreason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKlkc9srl5adwg3ayu26smtman7` (`approved_by_id`),
  KEY `FK6kwhuq11saeyki0nc54elfap2` (`employee_id`),
  CONSTRAINT `FK6kwhuq11saeyki0nc54elfap2` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FKlkc9srl5adwg3ayu26smtman7` FOREIGN KEY (`approved_by_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leaves`
--

LOCK TABLES `leaves` WRITE;
/*!40000 ALTER TABLE `leaves` DISABLE KEYS */;
/*!40000 ALTER TABLE `leaves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` text,
  `related_id` bigint DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK9y21adhxn0ayjhfocscqox7bh` (`user_id`),
  CONSTRAINT `FK9y21adhxn0ayjhfocscqox7bh` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timesheets`
--

DROP TABLE IF EXISTS `timesheets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timesheets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_approved_at` datetime(6) DEFAULT NULL,
  `billable` bit(1) DEFAULT NULL,
  `billing_location` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `date` date NOT NULL,
  `end_time` time(6) DEFAULT NULL,
  `hr_approved_at` datetime(6) DEFAULT NULL,
  `leave_type` varchar(255) DEFAULT NULL,
  `manager_comments` varchar(255) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `onsite_offshore` varchar(255) DEFAULT NULL,
  `project` varchar(255) DEFAULT NULL,
  `project_name` varchar(255) DEFAULT NULL,
  `rejected_at` datetime(6) DEFAULT NULL,
  `rejected_by_role` varchar(255) DEFAULT NULL,
  `rejection_reason` varchar(255) DEFAULT NULL,
  `reviewed_at` datetime(6) DEFAULT NULL,
  `rm_approved_at` datetime(6) DEFAULT NULL,
  `start_time` time(6) DEFAULT NULL,
  `status` enum('PENDING_RM_APPROVAL','PENDING_HR_APPROVAL','PENDING_ADMIN_APPROVAL','APPROVED','REJECTED') DEFAULT NULL,
  `submitted_at` datetime(6) DEFAULT NULL,
  `task` varchar(255) DEFAULT NULL,
  `task_description` varchar(255) DEFAULT NULL,
  `total_hours` double DEFAULT NULL,
  `admin_approved_by_id` bigint DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `hr_approved_by_id` bigint DEFAULT NULL,
  `reviewed_by_id` bigint DEFAULT NULL,
  `rm_approved_by_id` bigint DEFAULT NULL,
  `transferred_at` datetime(6) DEFAULT NULL,
  `transferred_from_admin` bit(1) DEFAULT NULL,
  `approval_route` varchar(255) DEFAULT NULL,
  `hr_disabled_reroute` bit(1) DEFAULT NULL,
  `hr_stage_approved_at` datetime(6) DEFAULT NULL,
  `hr_stage_approved_by_role` varchar(255) DEFAULT NULL,
  `rerouted_torm` varchar(255) DEFAULT NULL,
  `skippedhr` bit(1) DEFAULT NULL,
  `skippedhrreason` varchar(255) DEFAULT NULL,
  `skippedrm` bit(1) DEFAULT NULL,
  `skippedrmreason` varchar(255) DEFAULT NULL,
  `hr_stage_approved_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK73smxrtbcno0v2rwx0ku2tgcj` (`admin_approved_by_id`),
  KEY `FK2hwwbmujjb8y8qqkrxx9yog38` (`employee_id`),
  KEY `FKm7n2k3tyegc8ft74msi5ylug9` (`hr_approved_by_id`),
  KEY `FK9wtq8w7kisnp7poxjar05rngn` (`reviewed_by_id`),
  KEY `FKal6ovbsywh1bnepdfb7phhyta` (`rm_approved_by_id`),
  KEY `FKd0mpoq6pm2smpt6llk7gu312l` (`hr_stage_approved_by_id`),
  CONSTRAINT `FK2hwwbmujjb8y8qqkrxx9yog38` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FK73smxrtbcno0v2rwx0ku2tgcj` FOREIGN KEY (`admin_approved_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK9wtq8w7kisnp7poxjar05rngn` FOREIGN KEY (`reviewed_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKal6ovbsywh1bnepdfb7phhyta` FOREIGN KEY (`rm_approved_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKd0mpoq6pm2smpt6llk7gu312l` FOREIGN KEY (`hr_stage_approved_by_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKm7n2k3tyegc8ft74msi5ylug9` FOREIGN KEY (`hr_approved_by_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timesheets`
--

LOCK TABLES `timesheets` WRITE;
/*!40000 ALTER TABLE `timesheets` DISABLE KEYS */;
/*!40000 ALTER TABLE `timesheets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `otp_expiry` datetime(6) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `reset_password_otp` varchar(255) DEFAULT NULL,
  `role` enum('ADMIN','HR','REPORTING_MANAGER','EMPLOYEE') DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UK_r43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'visionai_hrms'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-09 17:13:20
